.clients {
  background-color: $color-main-dark;

  h4 {
    display: none;
  }

  &-content {
    text-align: center;

    @extend %section;

    p {
      width: 755px;
      margin: 0 auto;
      padding-bottom: $gap * 3;

      @include sm {
        font-size: 0.875rem;
      }
      @include md {
        width: 100%;
      }
    }
  }

  &-partner {
    padding-bottom: $gap * 4;

    @include sm {
      width: 200px;
      margin: 0 auto;
    }

    img {
      display: inline;

      margin: $gap ($gap * 2);

      vertical-align: middle;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    button {
      width: 20px;
      height: 20px;
      margin: 0 5px;

      color: darken($color-main-dark, 8);
      border: 1px solid darken($color-main-dark, 8);
      border-radius: 50%;
      outline: none;
      background: darken($color-main-dark, 8);
    }
  }
}

.slick-active button {
  color: $color-accent !important;
  background: $color-accent !important;

  &:focus {
    outline: none;
  }
}
