%container {
    max-width: $xl;
    margin: 0 auto;
    padding-right: $gap;
    padding-left: $gap;
}

;

%section {
    @include ul-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;
    }

    @include ul-xl {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }

    @include lg-md {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }

    @include xl-lg {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }

    @include md {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

    @include sm {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

    @include xx {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

}

%title-section {
    position: relative;
    text-align: center;
    padding-bottom: $gap * 3;

    &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 50%;
        width: 50px;
        height: 2px;
        transform: translate(-50%, -50%);
        background-color: #000;
    }
}

%btn-accent {
    
    .btn {
        max-width: 180px;
        max-height: 50px;
        padding: $gap 10px;
        border-radius: 2px;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color .3s, background-color .3s;
        margin: 0 auto;
        &:hover {
            color: #c0301c;
            background-color: #fff;
    }
    @include lg-md {
            font-size: .875rem;
    }

    @include md-sm {
            font-size: .875rem;
    }

    @include xx {
            font-size: .875rem;
            padding: 10px 0;
            width: 120px;
    }
    }
   
}