.footer {
  background-color: $color-accent;

  &-content {
    @extend %section;

    &__copirait {
      padding-top: $gap * 4;

      text-align: center;

      color: $color-main;
    }
  }

  &-social {
    display: flex;
    justify-content: center;

    &__item {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      margin: $gap / 2;
      padding: 5px;

      transition: background-color 0.3s, color 0.3s;

      border: 1px solid $color-main;
      border-radius: 50%;

      &:hover {
        color: $color-accent;
        background-color: $color-main;
      }

      &:nth-child(2)::after {
        position: absolute;
        bottom: -$gap * 2.5;
        left: $gap;

        width: 50px;
        height: 2px;

        content: "";

        background-color: $color-main;
      }
    }
  }
}
